%rounded-box{
    border: 1px solid;
    border-radius: 15px;
}

%horizontal-flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%vertical-flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

%boring-link{
    text-decoration: none;
    color:inherit;
    &:hover{
        text-decoration: none;
        color:inherit;
    }
    &:visited{
        text-decoration: none;
        color:inherit;
    }
}

$base-color-onyx: #2F323A;
$base-color-midnight-green: #003844;
$base-color-skobbeloff: #006C67;
$base-color-medium-slate-blue: #7678ED;
$base-color-dark-slate-blue: #3D348B;
$base-color-amaranth-pink: #F194B4;
$base-color-honey-yellow: #FFB100;
$base-color-tangerine: #F18701;
$base-color-orange-pantone: #F35B04;
$base-color-blanched-almond: #FFEBC6;
$base-color-platoinum: #EBEBEB;
$base-color-celadon: #247BA0;

$base-yellow: #EEDB54;
$base-green: #87BF8B;
$base-red: #DE6C57;
$base-pink: #B74464;
$base-dark-blue: #21213C;
$base-sand: #B98A69;
$base-teal: #1FA6A5;
$base-white: #F8F5F6;

    

h1,h2,h3,h4{
    margin: 0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.solo-flex{
    flex:1;
}

#navbar{
    position: fixed;
    top:0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    
    width: 100%;
    transition: 0.5s;
    z-index: 3;
    padding:0.5%;

    .nav-container{
        text-align: center;
        border-radius: 15px;
        padding:0.5%;
    }
    
    .nav-link{
        flex: 1;
        @extend %boring-link;
        font-weight: 500;
        font-size: 20px;
    }

    #projects-nav-container{
        //background-color: $base-color-celadon;
        //color:$base-white;
    }
    
    #github-nav-container{
        //background-color: $base-white;
    }
    
    #about-nav-container{
        //background-color: $base-yellow;
    }
}

#welcome-section{
    @extend %horizontal-flex-box;
    line-height: 64px;
    height: 100vh; 
    position: relative;

    #welcome-spacer{
        flex:1;
    }
    
    #welcome-para-wrapper{
        position: absolute;
        width: 30%;
        text-align: right;
        right: 5%;
        // flex:1;
        // text-align: center;
        line-height: 64px;
    
        h1{
            color:$base-white;
            font-weight: 700;
            font-size: 24px;
        }
    }

    #head-cutout{
        flex:1;
    }
    
    #welcome-background{
        position: absolute;
        z-index: -1;
        object-fit: cover;
        height: 100vh; 
        width: 100vw; 
    }
}

.classic-section{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    padding:2%;

    h1{
        flex:1;
        text-align: center;
        //justify-content: center;
    }

    .slide-button-container{
        display: flex;
        align-items: center;
        //justify-content: center;
        flex: 1;
        text-align: center;
    
        a{
            flex: 1; 
        }
    }

}

.about-body{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 14;
    hyphens: auto; 
    text-align: justify;

    #about-resume{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch ;
    
        #time-line{
            flex:1;
            display: flex;
            flex-direction: column;
        
            .time-line-station{
                flex:2;
                display: flex;
                align-items: center;
                border-left: 5px solid $base-color-onyx;  
            }
        }
    
        .selected-station{
            background-color: $base-green;
            border-color: $base-dark-blue;
        }
        
        .station-hovered{
            background-color: $base-green;
            border-color: $base-dark-blue;
        }
        
        #time-line-spacer{
            flex:1;
        }
        
        #time-line-explanation{
            flex:6;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        
            hr {
                margin-right: 10%;
            }
        
            h4{
                padding-top: 5%;
            }
    
            #station-technologies{
                color:hsl(159, 83%, 27%);
            }
        
            #station-duration{
                font-size: normal;
                color: $base-dark-blue;
            
            }
        
            #time-line-seperator{
                padding-top: 0;
                margin-top: 0;
                background-color: $base-dark-blue;
            }
        }
    }

    #download-cv{
        position: absolute;
        right: 10%;
    }


    h1{
        flex:1;
        text-align: center;
        justify-content: stretch;
    }

    .about-me-content{
        flex:14;
        font-weight: 300;
        font-size: 18px;
        height: 80vh;
        padding: 2%;
    }

    #about-me-text{
        @extend %rounded-box;
        font-size: large;
        padding: 4%;

        display: flex;
        align-items: center;
        
    }

    .about-section-private{
        min-height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        flex:18;
        font-weight: 150;
        font-size: 18px;


        .private-info-wrapper{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: stretch;

            .private-me-infobox{
            text-align: center;
            @extend %rounded-box;
            margin: 2%;
            padding: 2%;
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .spacer-infobox{
                flex:5;
            }

            h4{
                flex:1;
            }

            .infobox-content{
                flex:20;
                display:flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .info-box-content-tile{
                flex:1;
                margin: 1%;
                @extend %rounded-box;
            
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @extend %boring-link;
            
                // text-decoration: none;
                // color:inherit;
            
                // &:hover{
                //     text-decoration: none;
                //     color:inherit;
                // }
                // &:visited{
                //     text-decoration: none;
                //     color:inherit;
                // }

            }

            #book1{
                background-image: url("/static/images/book1.jpg");
            }
            
            #book2{
                background-image: url("/static/images/book2.jpeg");
            }
            
            #book3{
                background-image: url("/static/images/book3.jpg");
            }
            
            #book4{
                background-image: url("/static/images/book4.jpg");
            }
        
            #podcast1{
                background-image: url("/static/images/podcast1.jpg");
            }
            
            #podcast2{
                background-image: url("/static/images/podcast2.jpeg");
            }
            
            #podcast3{
                background-image: url("/static/images/podcast3.png");
            }
            
            #podcast4{
                background-image: url("/static/images/podcast4.png");
            }
        
            #show1{
                background-image: url("/static/images/show1.jpg");
            }
            
            #show2{
                background-image: url("/static/images/show2.jpg");
            }
            
            #show3{
                background-image: url("/static/images/show3.jpg");
            }
            
            #show4{
                background-image: url("/static/images/show4.jpeg");
            }
            
            #song1{
                background-image: url("/static/images/song1.jpg");
            }
        
            #song2{
                background-image: url("/static/images/song2.jpg");
            }
            
            #song3{
                background-image: url("/static/images/song3.jpg");
            }
            
            #song4{
                background-image: url("/static/images/song4.jpg");
            }


        }
        }
    }
}

#skill-section{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    h1{
        flex:1;
        text-align: center;
        justify-content: stretch;
    }


    #skills-content{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;

        flex:14;
        font-weight: 150;
        font-size: 18px;

        .zingCharts {
            flex:1;
            min-height: 550px;   
            align-items: center;
        }

        #skillName{
            position: absolute;
            left: 0;
            top:0;
            margin: 0;
            text-align: left;
            width: 20%;
        }

        #skillDescription{
            position: absolute;
            right: 0;
            top:0; 
            text-align: right;
            width: 20%;
            hyphens: auto; 
            text-align: justify
        }
    }

    #chart-button-wrapper{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        padding: 2%;
    
        .chart-button{
            flex:1;
        }
    }
}

#projects{
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .project-row{
        flex:1;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: stretch;
    }
    
    .project-tile{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @extend %rounded-box;
    
        margin: 1%;
    
    }

    .tile-background{
        object-fit: cover;
        position: absolute;
        z-index: 1;
        height: 100%; 
        width: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        border-radius: 15px;
    }
    
    #berl-eat-tile-background{
        background-image: url("/static/images/berl-eat-background.png");
    }
    
    #tabata-warriors-tile-background{
        background-image: url("/static/images/tabata-warriors-example-stock.png");
    }
    
    #personal-blog-tile-background{
        background-image: url("/static/images/personal-blog-stock.png");
    }
    
    #github-tile-background{
        background-image: url("/static/images/github-stock.png");
    }
    
    #mealtimes-tile-background{
        background-image: url("/static/images/mealtimes-stock.png");
    }
    
    #tech-docu-tile-background{
        background-image: url("/static/images/technical-documentation-stock.png");
    }
    
    .project-time{
        z-index: 2;
        background-color: $base-white;
        width: 25%;
        text-align: center;
        @extend %rounded-box;
    
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .project-title{
        z-index: 2;
        background-color: $base-white;
        width: 80%;
        text-align: center;
        @extend %rounded-box;
    }
    
    .project-link-container{
        z-index: 2;
        display:flex;
        flex-direction: row;
        text-align: center;
        width: 60%;
        justify-content: space-evenly;
    
        margin-bottom: 1%;
        margin-top: 1%;
    }
    
    .project-link-div{
        z-index: 2;
        background-color: $base-white;
        text-align: center;
        width: 30%;
        @extend %rounded-box;
    }

    
    
    .project-link{
        position: relative;
        @extend %boring-link;
        // text-decoration: none;
        // color:inherit; 
    
        // &:hover{
        //     text-decoration: none;
        //     color:inherit;   
        // }
    
        // &:visited{
        //     text-decoration: none;
        //     color:inherit;   
        // }
    }
}

#contact-section{
    @extend %rounded-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 150;

    background-color: $base-white;
    text-align: center;

    margin: 3%;
    padding: 2%;

    h4{
        font-size: 36px;
        flex:1;
        // padding-bottom: 0;
        // margin-bottom: 0;
    }

    p{
        font-size: 30px;
        flex:1;
    }

    #contact-link-wrapper{
        font-size: 20px;
        flex:1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        a{
            flex:1;
            padding:5%;
            @extend %rounded-box;
            min-width: fit-content;
            margin:5%;


            color:$base-white;
            text-decoration: none;
            &:hover{
                text-decoration: none;
                color:$base-white; 
            }
            &:visited{
                text-decoration: none;
                color:$base-white; 
            }
        }

        #linkedin-contact-link{
            background-color: #0172B1;
        }
        
        #twitter-contact-link{
            background-color: #07A8F4;
        }
        
        #github-contact-link{
            background-color: #0D0F34;
        }
    }
    
}


footer{
    background-color: $base-dark-blue;
    color:$base-white;
    text-align: center;
}







@media only screen and (max-width: 1000px){

    #skill-section{
        min-height: auto;

        #skills-content{
            flex-direction: column;

            #skillName{
                position: static;
                margin: 0;
                text-align: left;
                width: 100%;
                margin: 2%;
            }

            #skillDescription{
                position: static;
                text-align: left;
                width: 100%;
                margin: 2%;
                hyphens: auto; 
                text-align: justify
            }
        }
    }

    .classic-section{
        height: auto;
    }


    .about-body{

    
        .about-section-private{

            flex-direction: column;

    
    
            .private-info-wrapper{

                flex-direction: column;

    
                .spacer-infobox{
                    display: none;
                }
    
            
            }
        }


    }




    #projects{

    
        .project-row{
            flex-direction:column;
        }
        
        .project-tile{
            margin-right: 1%;
            margin-left: 1%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    
        .project-time{
            width: auto;
            padding:1%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
        .project-title{
            padding:2%
        }
        
        .project-link-container{
            margin-bottom: 2%;
            margin-top: 2%;
        }
        
        .project-link-div{
            width: 20%;
            padding:1%;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .project-link-para{
            margin:0;
        }
    }
}

@media only screen and (max-width: 768px) {

    #skill-section{
        #chart-button-wrapper{
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding: 2%;
        }
    }

    #navbar{
    
        display: absolute;
        top:0;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        
        width: 100%;
        padding:2%;
    
        .nav-container{
            margin: 2%;
        }
    }

    .about-body{
        .about-me-content{
            flex:14;
            font-weight: 300;
            font-size: 18px;
            height: auto;
            padding: 2%;
        }
    }

    #welcome-section{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 64px;
        height: 100vh; 
        // height: auto;
    
        #welcome-spacer{
            flex:1;
        }
        
        #welcome-para-wrapper{
            position: relative;
            width: 66%;
            flex:1;
            text-align: center;
            line-height: 64px;
            padding: 4%;
        
            h1{
                color:$base-white;
                font-weight: 700;
                font-size: 24px;
            }
        }

        

        
    
        #head-cutout{
            flex:1;
        }
        
        #welcome-background{
            position: absolute;
            z-index: -1;
            object-fit: cover;
            height: 100vh; 
            width: 100vw; 
        }
    }

    .about-me-content{
        //flex:14;
        flex: 1;
        font-weight: 300;
        font-size: 18px;
        // height: 80vh;
        height: auto;
        padding: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .classic-section{
        min-height: auto;

        .slide-button-container{
            display: none;
        }


    }
    #about-section{
        flex-direction: column;
    }
}


