.about-body #about-me-text, .about-body .about-section-private .private-info-wrapper .private-me-infobox, .about-body .about-section-private .private-info-wrapper .private-me-infobox .info-box-content-tile, #projects .project-tile, #projects .project-time, #projects .project-title, #projects .project-link-div, #contact-section, #contact-section #contact-link-wrapper a {
  border: 1px solid;
  border-radius: 15px;
}

#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar .nav-link, .about-body .about-section-private .private-info-wrapper .private-me-infobox .info-box-content-tile, #projects .project-link {
  text-decoration: none;
  color: inherit;
}

#navbar .nav-link:hover, .about-body .about-section-private .private-info-wrapper .private-me-infobox .info-box-content-tile:hover, #projects .project-link:hover {
  text-decoration: none;
  color: inherit;
}

#navbar .nav-link:visited, .about-body .about-section-private .private-info-wrapper .private-me-infobox .info-box-content-tile:visited, #projects .project-link:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.solo-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#navbar {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
  padding: 0.5%;
}

#navbar .nav-container {
  text-align: center;
  border-radius: 15px;
  padding: 0.5%;
}

#navbar .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  font-size: 20px;
}

#welcome-section {
  line-height: 64px;
  height: 100vh;
  position: relative;
}

#welcome-section #welcome-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#welcome-section #welcome-para-wrapper {
  position: absolute;
  width: 30%;
  text-align: right;
  right: 5%;
  line-height: 64px;
}

#welcome-section #welcome-para-wrapper h1 {
  color: #F8F5F6;
  font-weight: 700;
  font-size: 24px;
}

#welcome-section #head-cutout {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#welcome-section #welcome-background {
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.classic-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2%;
}

.classic-section h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.classic-section .slide-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.classic-section .slide-button-container a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-body {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}

.about-body #about-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-body #about-resume #time-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-body #about-resume #time-line .time-line-station {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 5px solid #2F323A;
}

.about-body #about-resume .selected-station {
  background-color: #f7ab5e;
  border-color: #21213C;
}

.about-body #about-resume .station-hovered {
  background-color: #f7ab5e;
  border-color: #21213C;
}

.about-body #about-resume #time-line-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-body #about-resume #time-line-explanation {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-body #about-resume #time-line-explanation hr {
  margin-right: 10%;
}

.about-body #about-resume #time-line-explanation h4 {
  padding-top: 5%;
}

.about-body #about-resume #time-line-explanation #station-technologies {
  color: #0c7e56;
}

.about-body #about-resume #time-line-explanation #station-duration {
  font-size: normal;
  color: #21213C;
}

.about-body #about-resume #time-line-explanation #time-line-seperator {
  padding-top: 0;
  margin-top: 0;
  background-color: #21213C;
}

.about-body #download-cv {
  position: absolute;
  right: 10%;
  border-color: #2E4145;
  color: #2E4145;
}

.about-body #download-cv:hover {
  background-color: #2E4145;
  color: #F8F5F6;
}

.about-body h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.about-body .about-me-content {
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
  font-weight: 300;
  font-size: 18px;
  height: 80vh;
  padding: 2%;
}

.about-body #about-me-text {
  font-size: large;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-body .about-section-private {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-flex: 18;
      -ms-flex: 18;
          flex: 18;
  font-weight: 150;
  font-size: 18px;
}

.about-body .about-section-private .private-info-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox {
  text-align: center;
  margin: 2%;
  padding: 2%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox .spacer-infobox {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox .infobox-content {
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox .info-box-content-tile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #book1 {
  background-image: url("/static/images/book1.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #book2 {
  background-image: url("/static/images/book2.jpeg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #book3 {
  background-image: url("/static/images/book3.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #book4 {
  background-image: url("/static/images/book4.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #podcast1 {
  background-image: url("/static/images/podcast1.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #podcast2 {
  background-image: url("/static/images/podcast2.jpeg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #podcast3 {
  background-image: url("/static/images/podcast3.png");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #podcast4 {
  background-image: url("/static/images/podcast4.png");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #show1 {
  background-image: url("/static/images/show1.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #show2 {
  background-image: url("/static/images/show2.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #show3 {
  background-image: url("/static/images/show3.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #show4 {
  background-image: url("/static/images/show4.jpeg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #song1 {
  background-image: url("/static/images/song1.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #song2 {
  background-image: url("/static/images/song2.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #song3 {
  background-image: url("/static/images/song3.jpg");
}

.about-body .about-section-private .private-info-wrapper .private-me-infobox #song4 {
  background-image: url("/static/images/song4.jpg");
}

#skill-section {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#skill-section h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

#skill-section #skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14;
  font-weight: 150;
  font-size: 18px;
}

#skill-section #skills-content .zingCharts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skill-section #skills-content #skillName {
  position: absolute;
  left: 2%;
  top: 0;
  margin: 0;
  text-align: left;
  width: 20%;
}

#skill-section #skills-content #skillDescription {
  position: absolute;
  right: 2%;
  top: 0;
  text-align: right;
  width: 20%;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}

#skill-section #chart-button-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2%;
}

#skill-section #chart-button-wrapper .chart-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#projects .project-row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#projects .project-tile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 1%;
}

#projects .tile-background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#projects #berl-eat-tile-background {
  background-image: url("/static/images/berl-eat-background.png");
}

#projects #tabata-warriors-tile-background {
  background-image: url("/static/images/tabata-warriors-example-stock.png");
}

#projects #personal-blog-tile-background {
  background-image: url("/static/images/personal-blog-stock.png");
}

#projects #github-tile-background {
  background-image: url("/static/images/github-stock.png");
}

#projects #mealtimes-tile-background {
  background-image: url("/static/images/mealtimes-stock.png");
}

#projects #tech-docu-tile-background {
  background-image: url("/static/images/technical-documentation-stock.png");
}

#projects .project-time {
  z-index: 2;
  background-color: #F8F5F6;
  width: 25%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

#projects .project-title {
  z-index: 2;
  background-color: #F8F5F6;
  width: 80%;
  text-align: center;
}

#projects .project-link-container {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1%;
  margin-top: 1%;
}

#projects .project-link-div {
  z-index: 2;
  background-color: #F8F5F6;
  text-align: center;
  width: 30%;
}

#projects .project-link {
  position: relative;
}

#contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 150;
  background-color: #F8F5F6;
  text-align: center;
  margin: 3%;
  padding: 2%;
}

#contact-section h4 {
  font-size: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact-section p {
  font-size: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact-section #contact-link-wrapper {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact-section #contact-link-wrapper a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 5%;
  color: #F8F5F6;
  text-decoration: none;
}

#contact-section #contact-link-wrapper a:hover {
  text-decoration: none;
  color: #F8F5F6;
}

#contact-section #contact-link-wrapper a:visited {
  text-decoration: none;
  color: #F8F5F6;
}

#contact-section #contact-link-wrapper #linkedin-contact-link {
  background-color: #0172B1;
}

#contact-section #contact-link-wrapper #twitter-contact-link {
  background-color: #07A8F4;
}

#contact-section #contact-link-wrapper #github-contact-link {
  background-color: #0D0F34;
}

footer {
  background-color: #21213C;
  color: #F8F5F6;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #skill-section {
    min-height: auto;
  }
  #skill-section #skills-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skill-section #skills-content #skillName {
    position: static;
    margin: 0;
    text-align: left;
    width: 100%;
    margin: 2%;
  }
  #skill-section #skills-content #skillDescription {
    position: static;
    text-align: left;
    width: 100%;
    margin: 2%;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .classic-section {
    height: auto;
  }
  .about-body .about-section-private {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-body .about-section-private .private-info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-body .about-section-private .private-info-wrapper .spacer-infobox {
    display: none;
  }
  #projects .project-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .project-tile {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #projects .project-time {
    width: auto;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #projects .project-title {
    padding: 2%;
  }
  #projects .project-link-container {
    margin-bottom: 2%;
    margin-top: 2%;
  }
  #projects .project-link-div {
    width: 20%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #projects .project-link-para {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  #skill-section #chart-button-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 2%;
  }
  #navbar {
    display: absolute;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    padding: 1%;
  }
  #navbar .nav-container {
    margin: 1%;
  }
  .about-body .about-me-content {
    -webkit-box-flex: 14;
        -ms-flex: 14;
            flex: 14;
    font-weight: 300;
    font-size: 18px;
    height: auto;
    padding: 2%;
  }
  .about-body #download-cv {
    position: static;
  }
  .about-body #about-resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .about-body #about-resume #time-line {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2%;
    padding: 2%;
  }
  .about-body #about-resume #time-line .time-line-station {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 5px solid #2F323A;
    border-right: 5px solid #2F323A;
    padding: 3%;
  }
  #welcome-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 64px;
    height: 100vh;
  }
  #welcome-section #welcome-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #welcome-section #welcome-para-wrapper {
    position: relative;
    width: 66%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    line-height: 64px;
    padding: 4%;
  }
  #welcome-section #welcome-para-wrapper h1 {
    color: #F8F5F6;
    font-weight: 700;
    font-size: 24px;
  }
  #welcome-section #head-cutout {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #welcome-section #welcome-background {
    position: absolute;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
    width: 100vw;
  }
  .about-me-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-weight: 300;
    font-size: 18px;
    height: auto;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .classic-section {
    min-height: auto;
  }
  .classic-section .slide-button-container {
    display: none;
  }
  #about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */